extends layout 

block content
    style(type="text/css").
        body {
            height: 800px;
        }
    form(class="createForm" id='form' method='POST' action='/create')
        label(for='name') Username:
        input(class="field2 fieldName" type='text', name='username')
        br
        br
        label(for='password') Password:
        input(class="field2 fieldPass" type='text', name='password')
        br
        br
        label(for='email') Email:
        input(class="field2 fieldMail" type='text', name='email')
        br
        br
        label(for='age') Age:
        input(class="field2 fieldAge" type='text', name='age')
        br
        br
        label(for='color') Favorite Color: 
        select(class="field3 fieldCol" name="color")
            option(value='Blue') Blue
            option(value='Red') Red
            option(value='Green') Green
            option(value='Yellow') Yellow
            option(value='Orange') Orange
            option(value='Purple') Purple
        br
        br
        label(for='entertainment') Favorite Entertainment: 
        select(class="field3 fieldEnt" name="entertainment")
            option(value='Anime') Anime
            option(value='Movies') Movies
            option(value='TV Shows') TV Shows
            option(value='Cartoons') Cartoons
            option(value='Youtube') Youtube
            option(value="Other") Other 
        br
        br
        label(for='degree') Degree: 
        select(class="field3 fieldDeg" name="degree")
            option(value='Game Dev') Game Dev
            option(value='IS') IS
            option(value='CS') CS
            option(value='TM') TM
            option(value='Web') Web
            option(value='SE') SE
        br
        br
        input(class="button submit3" type="submit" value='Make Profile')