extends layout 

block content

    form(id='form' method='POST' action='/')
        label(for='name') Username:
        input(type='text', name='username')
        br
        label(for='password') Password:
        input(type='text', name='password')
        br
        input(type='submit' value='Log In')

    br
    br
    form(method='get' action='/create')
        button(type='submit') Create Profile

