extends layout 

block content

    form(class="logForm" id='form' method='POST' action='/')
        label(for='name') Username:
        input(class="field fieldName", type='text', name='username')
        br
        label(for='password') Password:
        input(class="field fieldPass" type='text', name='password')
        br
        input(class="button submit1", type='submit' value='Log In')

    br
    br
    form(id="submit" method='get' action='/create')
        button(class="button submit2", type='submit') Create Profile

