extends layout 

block content

    h2(class="title")=vist
    form(class="homeForm hF1" method='get' action='/edit/' + person._id)
        button(class="button submit2" type='submit') Edit Profile
    br
    br
    form(class="homeForm hF2" method='get' action='/logout')
        button(class="button submit2" type='submit') Logout