extends layout 

block content

    form(method='get' action='/edit/:id')
        button(type='submit') Edit Profile
    br
    br
    form(method='get' action='/logout')
        button(type='submit') Logout